// UIkitの変数情報の編集
$primary: #006e54;
$navbar-toggle-color: #fff;
$navbar-item-color: #fff;
/* Backgrounds */
$navbar-background: #006e54;
$global-background: #fff;
$label-background: #006e54;
// padding
// $card-body-padding-vertical-l: 30px;
// $card-body-padding-horizontal-l: 30px;